### Imports

In [1]:
import sqlalchemy
import matplotlib.pyplot as plt
import pandas as pd
from datacockpit import DataCockpit

### Initialize Database Engine

In [2]:
engine = sqlalchemy.create_engine('sqlite:////Users/<your_username>/mydb')

### Initialize datacockpit object

In [3]:
dcp_obj = DataCockpit(engine=engine, 
        path_to_logs="../data/query_logs.csv")

### Compute Quality Information

In [4]:
dcp_obj.compute_quality()

/home/shivam/Documents/Gatech_Coursework/Semester1/DB/Final_project/repo/data-cockpit/quality/example_db
Please wait. This might take a few minutes

### Get Quality Information

In [ ]:
attribute_metrics, record_metrics = dcp_obj.get_quality()

### Print Attribute Metrics Table

In [6]:
attribute_metrics.head()

,db_name,table_name,attribute_name,timestamp,uniqueness,completeness,correctness,overall
0,example_db,influence,serial_no,2023-02-03 23:38:52,100.000000,100.000000,99.972337,99.986169
1,example_db,influence,journal_name,2023-02-03 23:38:52,87.662517,100.000000,100.000000,100.000000
2,example_db,influence,issn,2023-02-03 23:38:52,100.000000,100.000000,100.000000,100.000000
3,example_db,influence,citation_count_sum,2023-02-03 23:38:52,42.351314,97.316736,99.695712,98.506224
4,example_db,influence,paper_count_sum,2023-02-03 23:38:52,30.262794,97.980636,100.000000,98.990318

### Print Record Metrics Table

In [7]:
record_metrics.head()

,db_name,table_name,primary_key,timestamp,uniqueness,completeness,correctness,overall
0,example_db,influence,0,2023-02-03 23:38:52,100.0,87.5,100.0,93.75
1,example_db,influence,1,2023-02-03 23:38:52,100.0,87.5,100.0,93.75
2,example_db,influence,2,2023-02-03 23:38:52,100.0,87.5,100.0,93.75
3,example_db,influence,3,2023-02-03 23:38:52,100.0,87.5,100.0,93.75
4,example_db,influence,4,2023-02-03 23:38:52,100.0,87.5,100.0,93.75

### Calculate the record level scores for the tables

In [8]:
record_metrics[["table_name", "correctness", "completeness", "uniqueness", "overall"]].groupby("table_name").mean()

                correctness  completeness  uniqueness    overall
table_name
influence             100.0     99.329184   99.502075  99.664592
journals_price        100.0     59.893705   87.799872  79.946852

### Calculate the attribute level scores for the tables

In [9]:
attribute_metrics[["table_name", "correctness", "completeness", "uniqueness", "overall"]].groupby("table_name").mean()

                correctness  completeness  uniqueness    overall
table_name
influence         99.882434     99.329184   59.602351  99.605809
journals_price    94.487309     59.893705   30.398607  77.190507